<!--  ACTIVITE -->
<ion-item>
  <ion-label color="primary" stacked>Activité (code APE)</ion-label>
  <ion-input placeholder="Ajouter une activité"></ion-input>
</ion-item>

<!--  DEPARTEMENT -->
<ion-item>
  <ion-label color="primary" stacked>Département</ion-label>
  <ion-input placeholder="Ajouter un département"></ion-input>
</ion-item>


<!--  COMMUNE -->
<ion-item>
  <ion-label color="primary" stacked>Commune (Code postal)</ion-label>
  <ion-input placeholder="Ajouter une commune"></ion-input>
</ion-item>


<!--  STATUT JURIDIQUE -->
<ion-item>
  <ion-label color="primary" stacked>Statut juridique</ion-label>
  <ion-input  placeholder="Ajouter un statut juridique"></ion-input>
</ion-item>


<!--  REGION -->
<ion-item>
  <ion-label color="primary" stacked>Région</ion-label>
  <ion-input placeholder="Ajouter une région"></ion-input>
</ion-item>



