<div class="ape">
  <ion-item padding-bottom>
    <ion-label color="primary" floating>Activité (code APE)</ion-label>
    <ion-input [(ngModel)]="ape" (keyup.enter)="searchFilter()"></ion-input>
  </ion-item>

  <div padding-left *ngFor="let oneobjet of selecteApe">
    <ion-icon (click)="searchFilter((oneobjet), selecteApe)" name="close"></ion-icon> <ion-badge>{{ oneobjet }}</ion-badge>
  </div>
  </div>

<div class="category">
  <ion-item>
    <ion-label color="primary">Catégorie d'entreprise</ion-label>
    <ion-select [(ngModel)]="category" (ngModelChange)="searchFilter()" multiple="true" cancelText="Annuler" okText="Valider">
      <div *ngFor="let oneobjet of categoryList">
        <ion-option value="{{ oneobjet.code }}">{{ oneobjet.name }}</ion-option>
      </div>
    </ion-select>
  </ion-item>
  <div padding-left *ngFor="let oneobjet of category">
     <ion-badge>{{ oneobjet }}</ion-badge>
  </div>
</div>

<div class="departement">
  <ion-item>
    <ion-label color="primary">Département</ion-label>
    <ion-select [(ngModel)]="departement" (ngModelChange)="searchFilter()" multiple="true" cancelText="Annuler" okText="Valider">
      <div *ngFor="let oneobjet of departementList">
        <ion-option value="{{ oneobjet.code }}">{{ oneobjet.name }}</ion-option>
      </div>
    </ion-select>
  </ion-item>
  <div padding-left *ngFor="let oneobjet of departement">
    <ion-badge>{{ oneobjet }}</ion-badge>
  </div>
</div>

<div class="city">
  <ion-item>
    <ion-label color="primary" floating>Commune</ion-label>
    <ion-input
            [(ngModel)]="city"
            (keyup.enter)="searchFilter()"
    ></ion-input>
  </ion-item>
  <div padding-left *ngFor="let oneobjet of selectedCities">
    <ion-icon (click)="removeList((oneobjet), selectedCities)" name="close"></ion-icon> <ion-badge>{{ oneobjet }}</ion-badge>
  </div>

</div>
<div class="creationYear">
  <ion-item padding-bottom>
    <ion-label color="primary" floating>Année de création</ion-label>
    <ion-input
            [(ngModel)]="creationYear"
            (keyup.enter)="searchFilter()"
    ></ion-input>
  </ion-item>
  <div padding-left *ngFor="let oneobjet of selectedCreationYears">
    <ion-icon (click)="removeList((oneobjet), selectedCities)" name="close"></ion-icon> <ion-badge>{{ oneobjet }}</ion-badge>
  </div>

</div>

<div class="legalform">
  <ion-item>
    <ion-label color="primary">Statut juridique</ion-label>
    <ion-select [(ngModel)]="legalform" (ngModelChange)="searchFilter()" multiple="true" cancelText="Annuler" okText="Valider">
      <div *ngFor="let oneobjet of legalFormList">
        <ion-option value="{{ oneobjet.code }}">{{ oneobjet.name }}</ion-option>
      </div>
    </ion-select>
  </ion-item>
  <div padding-left *ngFor="let oneobjet of legalform">
    <ion-badge>{{ oneobjet }}</ion-badge>
  </div>
</div>

<div class="effective">
  <ion-item>
    <ion-label color="primary">Effectifs</ion-label>
    <ion-select [(ngModel)]="effective" (ngModelChange)="searchFilter()" multiple="true" cancelText="Annuler" okText="Valider">
      <div *ngFor="let oneobjet of effectiveList">
        <ion-option value="{{ oneobjet.code }}">{{ oneobjet.name }}</ion-option>
      </div>
    </ion-select>
  </ion-item>
  <div padding-left *ngFor="let oneobjet of effective">
    <ion-badge>{{ oneobjet }}</ion-badge>
  </div>
</div>

<div class="turnover">
  <ion-item>
    <ion-label color="primary">Chiffre d'affaires</ion-label>
      <ion-select [(ngModel)]="turnover" (ngModelChange)="searchFilter()" multiple="true" cancelText="Annuler" okText="Valider">
        <div *ngFor="let oneobjet of turnoverList">
          <ion-option value="{{ oneobjet.code }}">{{ oneobjet.name }}</ion-option>
        </div>
      </ion-select>
  </ion-item>
  <div padding-left *ngFor="let oneobjet of turnover">
    <ion-badge>{{ oneobjet }}</ion-badge>
  </div>
</div>
<div class="region">
  <ion-item>
    <ion-label color="primary">Région</ion-label>
    <ion-select [(ngModel)]="region" (ngModelChange)="searchFilter()" multiple="true" cancelText="Annuler" okText="Valider">
      <div *ngFor="let oneobjet of regionsList">
        <ion-option value="{{ oneobjet.code }}">{{ oneobjet.name }}</ion-option>
      </div>
    </ion-select>
  </ion-item>
  <div padding-left *ngFor="let oneobjet of region">
    <ion-badge>{{ oneobjet.name }}</ion-badge>
  </div>
</div>
